<tr>
    <td class="align-middle">{{ item.nama }}</td>
    <td class="align-middle">{{ item.kategori.nama }}</td>
    <td class="align-middle">{{ item.stok }}</td>
    <td class="align-middle">{{ item.harga }}</td>
    <td>
        <button hx-get="{% url 'edit_item' item.id %}" hx-target="closest tr" hx-swap="outerHTML" class="btn btn-sm btn-warning">Edit</button>
        <button hx-delete="{% url 'hapus_item' item.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="closest tr" hx-swap="outerHTML" hx-confirm="Yakin ingin menghapus {{ item.nama }}?" class="btn btn-sm btn-danger">Hapus</button>
    </td>
</tr>